{% extends "dashboard/list_view.html" %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'dashboard/css/registers.css' %}">
{% endblock extra_styles %}
{% block title %}Cajas{% endblock title %}
{% block to_form %}<a href="{% url 'registers_create' %}" class="btn btn--add">Registrar caja</a>{% endblock to_form %}
{% block main_field %}Caja{% endblock main_field %}
{% block headers %}
<li class="secondary-field">
  <p>Estado</p>
</li>
{% endblock headers %}
{% block models %}
  {% for r in  registers %}
    <li class="list-table-item">
      <p class="main-field">
        {{r.name}}
      </p>
      <p class="secondary-field">
        {% if r.state == "c" %}
          <a href="{% url 'registers_open' r.id %}" class="toggle-state-btn">
            <span>Cerrada</span><span>Abrir</span>
          </a>
          {% else %}
          <a href="{% url 'registers_close' r.id %}" class="toggle-state-btn">
            <span>Abierta</span><span>Cerrar</span>
          </a>
        {% endif %}
      </p>
      <div class="list-table-actions">
        <button id="{{r.id}}" type="button" class="delete-btn list-table-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>eliminar caja</title>
            <path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8.46,11.88L9.87,10.47L12,12.59L14.12,10.47L15.53,11.88L13.41,14L15.53,16.12L14.12,17.53L12,15.41L9.88,17.53L8.47,16.12L10.59,14L8.46,11.88M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
          </svg>
        </button>
        <a href="{% url 'registers_edit' r.id %}" class="list-table-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>editar caja</title>
            <path d="M21.7,13.35L20.7,14.35L18.65,12.3L19.65,11.3C19.86,11.09 20.21,11.09 20.42,11.3L21.7,12.58C21.91,12.79 21.91,13.14 21.7,13.35M12,18.94L18.06,12.88L20.11,14.93L14.06,21H12V18.94M12,14C7.58,14 4,15.79 4,18V20H10V18.11L14,14.11C13.34,14.03 12.67,14 12,14M12,4A4,4 0 0,0 8,8A4,4 0 0,0 12,12A4,4 0 0,0 16,8A4,4 0 0,0 12,4Z" />
          </svg>
        </a>
      </div>
    </li>
  {% endfor %}
{% endblock models %}
{% block modal_msg %}
<p id="modal-msg">¿Esta seguro de borrar esta caja?</p>
{% endblock modal_msg %}
{% block delete_btn %}
<a id="deleteBtn" href="{% url 'registers_delete' 0 %}">Sí, borrar caja</a>
{% endblock delete_btn %}
{% block register_warn %}
{% if messages %}
<div class="modal">
  <p class="modal-msg">
    {% for message in messages %}
      <span class="modal-msg-text">{{message}}</span>
    {% endfor %}
  </p>
</div>
{% endif %}
{% endblock register_warn %}