{% extends 'login/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'login/css/login.css' %}" />
{% endblock %} {% block content %}
<main class="parent-padding">
  <section class="container container--md form">
    <form method="post" class="login-form">
      {% csrf_token %} {% if error %}
      <p style="color: red">{{ error }}</p>
      {% endif %}
      <input
        type="text"
        name="username"
        placeholder="usuario"
        class="login__input"
      />
      <input
        type="password"
        placeholder="contraseña"
        name="password"
        class="login__input"
      />
      <button type="submit" class="nav-link nav-link--xl nav-link--green">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="nav-link__icon"
        >
          <title>login</title>
          <path
            d="M11 7L9.6 8.4L12.2 11H2V13H12.2L9.6 15.6L11 17L16 12L11 7M20 19H12V21H20C21.1 21 22 20.1 22 19V5C22 3.9 21.1 3 20 3H12V5H20V19Z"
          />
        </svg>
        <span class="nav-link__text">entrar</span>
      </button>
    </form>
  </section>
</main>
{% endblock %}
