{% extends "dashboard/list_view.html" %}
{% block title %}Departamentos{% endblock title %}
{% block to_form %}<a href="{% url 'departments_create' %}" class="btn btn--add">Registrar departamento</a>{% endblock to_form %}
{% block main_field %}Departamento{% endblock main_field %}
{% block modal_msg %}
<p id="modal-msg">¿Esta seguro de borrar este departamento?</p>
{% endblock modal_msg %}
{% block delete_btn %}
<a id="deleteBtn" href="{% url 'departments_delete' 0 %}" >Sí, borrar departamento</a>
{% endblock delete_btn %}