{% extends "dashboard/list_view.html" %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'dashboard/css/forms.css' %}">
{% endblock extra_styles %}
{% block title %}Medidas{% endblock title %}
{% block to_form %}<a href="{% url 'sizes_create' %}" class="btn btn--add">Registrar medida</a>{% endblock to_form %}
{% block table %}
  <form action="{% url 'sizes' %}" method="GET" class="form form-xl form-filters">
    <button type="submit" class="btn btn--filter">Filtrar</button>
    <fieldset>
      <div>
        <label for="name">nombre</label>
        <select name="name" id="name">
          <option value="">todos las medidas</option>
          {% for s in sizes %}
            <option value="{{s.name}}">{{s.name}}</option>
          {% endfor %}
        </select>
      </div>
    </fieldset>
  </form>
  {% if filtered_sizes %}
    <article class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Medida</th>
            {% if user.profile.type == "admin" %}
              <th>Acciones</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for s in filtered_sizes %}
            <tr>
              <td>
                {{s.name}}
              </td>
              {% if user.profile.type == "admin" %}
                <td class="actions">
                  <button id="{{s.id}}" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <title>eliminar {{title}}</title>
                      <path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8.46,11.88L9.87,10.47L12,12.59L14.12,10.47L15.53,11.88L13.41,14L15.53,16.12L14.12,17.53L12,15.41L9.88,17.53L8.47,16.12L10.59,14L8.46,11.88M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" />
                    </svg>
                  </button>
                  <a href="{% url 'sizes_edit' s.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <title>editar {{title}}</title>
                      <path d="M9.86 21.43L9 22L6 20L3 22V3H21V10.2C20.1 9.82 19 10 18.24 10.75L9.86 19.13V21.43M11.86 19.96L18 13.83L20.03 15.87L13.9 22H11.86V19.96M20.39 12.15C20.37 12.13 20.34 12.1 20.31 12.09C20.12 11.96 19.86 11.97 19.69 12.13L19.67 12.15L18.69 13.13L20.73 15.17L21.71 14.19C21.91 14 21.91 13.67 21.71 13.47L20.39 12.15Z" />
                    </svg>
                  </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
  {% endif %}
{% endblock table %}
{% block main_field %}Medida{% endblock main_field %}
{% block edit %}
<a href="{% url 'sizes_edit' i.id %}" class="list-table-btn">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <title>editar {{title}}</title>
    <path d="M21.7,13.35L20.7,14.35L18.65,12.3L19.65,11.3C19.86,11.09 20.21,11.09 20.42,11.3L21.7,12.58C21.91,12.79 21.91,13.14 21.7,13.35M12,18.94L18.06,12.88L20.11,14.93L14.06,21H12V18.94M12,14C7.58,14 4,15.79 4,18V20H10V18.11L14,14.11C13.34,14.03 12.67,14 12,14M12,4A4,4 0 0,0 8,8A4,4 0 0,0 12,12A4,4 0 0,0 16,8A4,4 0 0,0 12,4Z" />
  </svg>
</a>
{% endblock edit %}
{% block modal_msg %}
<p id="modal-msg">¿Esta seguro de borrar esta medida?</p>
{% endblock modal_msg %}
{% block delete_btn %}
<a id="deleteBtn" href="{% url 'sizes_delete' 0 %}" >Sí, borrar medida</a>
{% endblock delete_btn %}