{% extends "dashboard/list_view.html" %}
{% load static %}
{% block title %}Ventas{% endblock title %}
{% block to_form %}
<a id="test" href="{% if register_is_open %}{% url 'sales_create' %}{% else %}#{% endif %}" class="btn btn--add">Crear venta</a>
{% if not register_is_open %}
<div class="modal">
  <p class="modal-msg">
    <span class="modal-msg-text">Debe tener una caja abierta para crear una venta</span>
  </p>
  <span class="modal-timer"></span>
</div>
{% endif %}
{% endblock to_form %}
{% block to_form_seller %}
<a id="test" href="{% if register_is_open %}{% url 'sales_create' %}{% else %}#{% endif %}" class="btn btn--add">Crear venta</a>
{% if not register_is_open %}
<div class="modal">
  <p class="modal-msg">
    <span class="modal-msg-text">Debe tener una caja abierta para crear una venta</span>
  </p>
  <span class="modal-timer"></span>
</div>
{% endif %}
{% endblock to_form_seller %}
{% block extra_content %}
  {% if sales_exist %}
    <a href="{% url 'reports' %}" class="link">
      <span>Ver reporte de ventas</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>Ver reporte de ventas</title>
        <path d="M14 16.94V12.94H5.08L5.05 10.93H14V6.94L19 11.94Z" />
      </svg>
    </a>
  {% endif %}
{% endblock extra_content %}
