.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.login__input {
  padding: 1rem;
  text-align: center;
  color: inherit;
  background-color: inherit;
  border: 1px solid #ccc;
  border-radius: 1.4rem;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  font-size: 1.8rem;

  &:placeholder-shown {
    background-color: #19191911;
  }

  &:focus {
    outline: none;
    background-color: inherit;
    border: 1px solid rgb(21, 93, 252);
  }
}
.dark .login__input {
  border: 1px solid rgba(214, 214, 214, 0.2);

  &:placeholder-shown {
    background-color: #d6d6d605;
  }

  &:focus {
    outline: none;
    background-color: inherit;
    border: 1px solid rgb(21, 93, 252);
  }
}
