{% extends 'dashboard/base.html' %} {% block content %}
<header class="dashboard-body__header"><h1>Negocios</h1></header>
<div>
  <a
    href="{% url 'business_add' %}"
    type="button"
    class="nav-link nav-link--xl"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="nav-link__icon"
    >
      <title>plus</title>
      <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
    </svg>
    <span class="nav-link__text">Registar Negocio</span>
  </a>
</div>
{% endblock %}
