{% extends "dashboard/list_view.html" %}
{% load static %}
{% block title %}Productos{% endblock title %}
{% block to_form %}<a href="{% url 'products_create' %}" class="btn btn--add">Registrar producto</a>{% endblock to_form %}
{% block main_field %}Producto{% endblock main_field %}
{% block modal_msg %}
<p id="modal-msg">¿Esta seguro de borrar este producto?</p>
{% endblock modal_msg %}
{% block delete_btn %}
<a id="deleteBtn" href="{% url 'products_delete' 0 %}">Sí, borrar producto</a>
{% endblock delete_btn %}