.list-table-header {
  ul {
    list-style: none;
    display: flex;

    li {
      padding: 0.5rem 1rem;
      &:first-child {
        width: 100%;
      }
    }
  }
}

.list-table {
  list-style: none;
  display: flex;
  flex-direction: column;

  .list-table-item {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0);
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &:last-child {
      border-radius: 0 0 1rem 1rem;
    }

    .main-field {
      width: 100%;
    }

    .list-table-actions {
      display: flex;
      gap: 1rem;

      .list-table-btn {
        height: 2.4rem;
        width: 2.4rem;
        fill: white;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.btn-table {
  padding: 0.6rem 1.2rem;
  color: white;
  font-weight: 500;
  text-align: center;
}

.secondary-field {
  width: 100%;
}

.table-container {
  width: 100%;
  overflow: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    tr {
      width: 100%;
      th {
        padding: 1rem;
        border-right: 1px solid rgba(255, 255, 255, 0.02);

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  tbody {
    tr {
      width: 100%;
      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.3);
      }
      td {
        padding: 1rem;
        border-right: 1px solid rgba(255, 255, 255, 0.02);
        vertical-align: top;

        &:last-child {
          border-right: none;
        }

        .item-id {
          display: flex;
          flex-direction: column;
        }

        &.actions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          a {
            svg {
              fill: white;
              width: 3.2rem;
            }
          }
        }
      }
    }
  }
}
